{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <p><a href="{{ url_for('filmes.create') }}" class="btn btn-success" role="buttom">Novo filme</a></p>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="campo-busca" placeholder="Pesquisa" value="{{ busca }}">
                <span class="input-group-addon" id="lupa-busca"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            </div>
        </div>
    </div>
    
    <div class="row">
        {% for filme in filmes %}
            <div class="col-xs-6 col-lg-4">
                <h3><a href="{{ url_for('filmes.detail', titulo=filme.titulo) }}">{{ filme.titulo }}</a></h3>
                <p>Diretor: {{ filme.diretor }}</p>
                <p>Categoria: {{ filme.categoria }}</p>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('filmes.detail', titulo=filme.titulo) }}" role="button">Detalhes</a>
                    <a class="btn btn-default" href="{{ url_for('filmes.edit', titulo=filme.titulo) }}" role="button">Editar</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
        $('#campo-busca').keydown(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                buscar();
            }
        });

        $('#lupa-busca').click(function() {
            buscar();
        });

        function buscar() {
            busca = $('#campo-busca')[0].value;
            location.href = '.?busca=' + busca;
        }

        $('#campo-busca').select();
    </script>
{% endblock %}
